.wrapper{
    max-width: 46rem;
    display: flex;
    justify-content: center;
    margin: -1.70rem auto 2rem auto;
}

@media(max-width: 768px){
    body{
        font-size: 87.5%;
    }
    .wrapper{
        margin: -1.75rem 1rem 1rem 1rem;
    }
}